@font-face {
  font-family: "Kostic";
  src: url("../fonts/Kostic - Roc Grotesk Medium.otf");
}

@font-face {
  font-family: "David bold";
  src: url("../fonts/david_05_bold-webfont.ttf");
}

@font-face {
  font-family: "David regular";
  src: url("../fonts/david-regular.otf");
}